.recommendation {
    display: inline-flex;
    flex-shrink: 0;
    height: 80%;
    aspect-ratio: 1;
    border-radius: 10px;
    background-color: red;
    position: relative;
    overflow: hidden;
}

.recommendation-image {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.recommendation-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.recommendation-details {
    position: absolute;
    z-index: 2;
    padding: 5px;
    width: 80%;
    background-color: #00000076;
    backdrop-filter: blur(5px);
    bottom: 0;
    border-top-right-radius: 10px;
    font-size: 1.2rem;
}
